    <!-- Header -->
    <div id="mws-header" class="clearfix">
    
        <!-- Logo Container -->
        <div id="mws-logo-container">
        
            <!-- Logo Wrapper, images put within this wrapper will always be vertically centered -->
            <div id="mws-logo-wrap">
                <img src="{{ STATIC_URL }}images/tenant/logo/logo.png" alt="mws admin">
            </div>
        </div>
        
        <!-- User Tools (notifications, logout, profile, change password) -->
        <div id="mws-user-tools" class="clearfix">
            
            <!-- User Information and functions section -->
            <div id="mws-user-info" class="mws-inset">
            
                <!-- User Photo -->
                <div id="mws-user-photo">
                    {% if user.is_superuser %}
                        <img src="{{ STATIC_URL }}images/tenant/administor.png" alt="User Photo">
                    {% else %}
                        <img src="{{ STATIC_URL }}images/tenant/user.png" alt="User Photo">
                    {% endif %}
                </div>
                
                <!-- Username and Functions -->
                <div id="mws-user-functions">
                    <div id="mws-username">
                        你好,{{ username }}
                    </div>
                    <ul>
                        <li><div id="change-password" style="display:inline"><a href="dashboard.html#">修改密码</a></div></li>
                        <li><a href="{% url "userlogout" %}">退出</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "accounts/change_password.html" %}
